@charset "UTF-8";
/*crear variables*/
/*font-family: 'Labrada',serif;
font-family: 'Mynerve',cursive;*/
@import url("https://fonts.googleapis.com/css2?family=Labrada:ital@1&family=Mynerve&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box; }

body {
  background-image: url(https://us.123rf.com/450wm/alexpokusay/alexpokusay1510/alexpokusay151000086/46310461-cielo-con-nubes-incons%C3%BAtil-del-vector-ilustraci%C3%B3n-de-fondo.jpg);
  background-attachment: fixed;
  min-height: 100vh; }

.contenedor-grid {
  display: grid;
  grid-template-areas: "head head" "main main" "footer footer";
  align-items: stretch; }

.header {
  grid-area: head; }
  .header .cabecera .titulo {
    /* pocisiciona titulo de la cabecera*/
    font-family: cursive;
    font-size: 2em;
    color: #0b0bfc;
    text-align: center;
    margin-bottom: -90px;
    z-index: 1; }
  .header .cabecera .contenedor-img {
    /*posiciona solo imagenes*/
    background-color: #949393;
    border: 2px solid black;
    display: flex;
    flex-direction: row-reverse;
    justify-content: space-between;
    padding: 1%;
    margin: 1%; }
    .header .cabecera .contenedor-img .imagen-1 {
      /*tamaño de las imagenes*/
      width: 12vh;
      height: auto; }
    .header .cabecera .contenedor-img .imagen-2 {
      width: 10vh;
      height: auto; }
  .header .nav__lista {
    /* posicionando anclas de navegacion*/
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    margin: 10px;
    list-style-type: none; }
    .header .nav__lista .ancla {
      /*quitar el subrajado a las anclas*/
      font-family: 'Mynerve';
      text-decoration: none;
      color: yellow;
      font-size: 1.2em;
      font-weight: bold; }

@media (min-width: 1024px) {
  /*estas son clases del header*/
  .header {
    width: 100%;
    height: 80vh; }
    .header .cabecera {
      /*cabecera incluye imagenes y titulo, solo se aplica de escritorio*/
      display: flex;
      flex-direction: row-reverse;
      justify-content: space-between; }
      .header .cabecera .titulo {
        /* pocisiciona titulo de la cabecera*/
        font-size: 4.5em;
        width: 90vh;
        height: 20vh;
        margin-right: 50vh;
        margin-top: 7vh; }
      .header .cabecera .contenedor-img {
        /*posiciona solo imagenes*/
        border: none;
        width: 30vh;
        height: 67vh;
        margin-left: 10vh;
        margin-top: 5vh;
        flex-direction: column;
        align-items: center;
        z-index: 1; }
        .header .cabecera .contenedor-img .imagen-1 {
          /*tamaño de las imagenes*/
          width: 25vh;
          margin-top: 3vh; }
        .header .cabecera .contenedor-img .imagen-2 {
          width: 25vh; }
    .header .nav {
      /*navegador movido hacia arriba*/
      margin-top: -25vh; }
      .header .nav .nav__lista {
        /* posicionando anclas de navegacion*/
        margin-left: 50vh;
        margin-right: 10vh; }
        .header .nav .nav__lista .ancla {
          font-size: 2.5em; }
  .caja-1 {
    /*cajas adorno que continen el header*/
    background-color: #949393;
    border: 2px solid black;
    width: 40vh;
    height: 70vh;
    position: absolute;
    top: 30px;
    left: 30px; }
  .caja-2 {
    /*cajas*/
    background-color: #949393;
    border-top: 2px solid black;
    border-bottom: 2px solid black;
    border-right: 2px solid black;
    width: 156.5vh;
    height: 40vh;
    position: absolute;
    top: 30px;
    right: 30px; } }

/*estas son clases del main index*/
.main {
  grid-area: main;
  /*que ocupr como minimo ese tamano de alto*/ }

.items {
  background-color: #5ffa5f;
  border: 2px solid black;
  width: auto;
  height: auto;
  text-decoration: underline;
  text-align: center;
  font-family: cursive;
  font-size: 1em;
  margin: 3% 9%;
  padding: 2vh; }

@media (min-width: 1024px) {
  /*estas son clases de main de la pagina principal (index)*/
  .main {
    width: 100%;
    height: auto;
    margin-top: -20vh; }
  .mov-padre {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: end; }
  .items {
    background-color: #5ffa5f;
    border: 2px solid black;
    width: 150vh;
    height: auto;
    text-decoration: underline;
    text-align: center;
    font-family: cursive;
    font-size: 2.3em;
    margin-top: 5vh;
    margin-right: 5vh;
    padding: 5vh; } }

/*main de servicio*/
.ComentarioPadre {
  display: flex;
  align-items: start; }

.imgRedonda {
  border-radius: 50%; }

.ComentarioPadreHijo {
  border: 2px solid black;
  margin: 2px; }

/*estas son clases de main capitulos*/
.main-cap {
  width: 100%;
  height: auto;
  margin-bottom: 5vh; }

.titulo-cap {
  /*titulo "temporadas"*/
  color: #0b0bfc;
  font-size: 2em;
  text-align: center;
  font-family: cursive; }

.padre-cap {
  /*posicion y espaciodado de las temporadas*/
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  align-items: center;
  flex-wrap: wrap;
  align-content: space-around; }

.cads {
  /*tamaño y sombreado de las cads*/
  background-color: black;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 20vh;
  height: 25vh;
  margin: 5vh;
  box-shadow: 0 0 50px black;
  position: relative; }

.img-capitulo {
  /*imagenes de los capitulos*/
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0; }

.num-cap {
  color: white;
  font-size: 3em; }

.img-capitulo:hover {
  opacity: 0.4;
  -webkit-transition: opacity 500ms;
  -moz-transition: opacity 500ms;
  -o-transition: opacity 500ms;
  -ms-transition: opacity 500ms;
  transition: opacity 500ms;
  z-index: 0; }

.tamVideo {
  width: 100%;
  height: 40vh; }

@media (min-width: 1024px) {
  /*estas son clases de main capitulos*/
  .titulo-cap {
    /*titulo "temporadas"*/
    font-size: 3em; }
  .padre-cap {
    /*posicion y espaciodado de las temporadas*/
    width: 100%;
    height: auto; }
  .cads {
    /*tamaño y sombreado de las cads*/
    width: 40vh;
    height: 55vh;
    margin: 10vh;
    overflow: hidden; }
  .num-cap {
    font-size: 5em; } }

/*estas son clases de main contactos*/
.padre-ubi {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center; }

.cen-tex-item {
  font-family: 'Mynerve';
  font-weight: bold;
  color: yellow;
  font-size: 1.5em;
  line-height: 10vh; }

.mapa {
  width: 60vh;
  height: 60vh; }

.cen-form {
  padding-left: 20vh; }

@media (min-width: 1024px) {
  /*estas son clases de main contactos*/
  .padre-ubi {
    flex-direction: row; }
  .cen-tex-item {
    font-size: 1.8em; }
  .mapa {
    width: 90vh; }
  .cen-form {
    padding-left: 80vh; } }

/*todas estas clases son del footer*/
.footer {
  margin: 1%;
  grid-area: footer; }

.icono-padre {
  width: 22vw;
  height: 10vw;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center; }

.icono {
  font-size: 2rem;
  text-decoration: none;
  color: white; }

.caja-padre {
  /*caja que contiene todos los elemento*/
  background-color: #949393;
  margin: auto;
  border: 2px solid black;
  display: flex;
  flex-direction: row;
  justify-content: space-between; }

.imagen-3 {
  /*solo tamaño de la imagen del footer*/
  width: 10vh;
  height: auto; }

.mover-img {
  /*solo para centrar la imagen*/
  position: absolute;
  margin-left: 30vh; }

.mov-text {
  /*centrar los textos*/
  font-size: 0.8em;
  font-family: cursive; }

@media (min-width: 1024px) {
  /*estas son clases del footer*/
  .icono-padre {
    width: 12vw;
    height: 5vw; }
  .caja-padre {
    /*caja que contiene todos los elemento*/
    width: 98%;
    justify-content: space-around; }
  .imagen-3 {
    /*solo tamaño de la imagen del footer*/
    width: 15vh;
    height: auto; }
  .mover-img {
    /*solo para centrar la imagen*/
    position: absolute;
    margin: auto; }
  .mov-text {
    /*centrar los textos*/
    font-size: 1.3em; } }
