.titulos{
        /*titulo "temporadas"*/
        color: rgb(11, 11, 252);
        font-size: 2em;
        text-align: center;
        font-family: cursive;
    }




.portada-cap{
    /*posicion y espaciodado de las temporadas*/
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    align-content: space-around;
    .cads {
        /*tamaño y sombreado de las cads*/
        background-color: black;
        display: flex;
        justify-content: center;
        align-items: center;
        width: 15vh;
        height: 23vh;
        margin: 3vh;
        box-shadow: 0 0 50px rgb(0, 0, 0);
        position: relative;
        .num-cap{
            color: white;
            font-size: 3em;
        }
        .img-capitulo {
            /*imagenes de los capitulos*/
            width: 100%;
            height: 100%;
            position: absolute;
            top: 0;
            left: 0;
        }

        .img-capitulo:hover{
            opacity: 0.4;
            -webkit-transition: opacity 500ms;
            -moz-transition: opacity 500ms;
            -o-transition: opacity 500ms;
            -ms-transition: opacity 500ms;
            transition: opacity 500ms;
            z-index: 0;
        }
    }
}  




.video-inspiracion{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    .tamanoVideo {
        width: 90%;
        height: 25vh;
        margin: 2vh;
    }
}





@media (min-width: 1024px){
    /*estas son clases de main capitulos*/
    
        .titulos{
            /*titulo "temporadas"*/
            font-size: 3em;
        }
        .portada-cap{
            .cads {
                /*tamaño y sombreado de las cads*/
                width: 40vh;
                height: 55vh;
                margin: 10vh;
                overflow: hidden;
                .num-cap {
                    font-size: 5em;
                }
            }
        }
    
        
        
        .video-inspiracion{
            flex-direction: row;
            .tamanoVideo{
                height: 50vh;
            }
        }
        
}